{% extends 'base.html'%}

{% block content %}
<div class="container">
    <h1>Midea Pitch</h1>
    <div class="row">
        <p>Always target the righ beat</p>
        <p class="col">{{numberOfLikes}}</p>
        <button class="col btn btn-success" (click)="likeButtonClick()">Like</button>
        <button class="col btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
    </div>
        <div class="row">
            <p>Target specific writers, not publications</p>
            <p class="col">{{numberOfLikes}}</p>
            <button class="col btn btn-success" (click)="likeButtonClick()">Like</button>
            <button class="col btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
        </div>
</div>
{% endblock %}
