<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <strong><h3 style="color:white;font-style: italic"> PITCH APP </h3></strong>
            <ul class="nav navbar-nav">
                <li><a href="/">HOME</a></li>
                <li><a href="/">INTERVIEW PITCH</a></li>
                <li><a href="/">PRODUCT PITCH</a></li>
                <li><a href="/">PROMOTION PITCH</a></li>
        </div>

    </div>





</div>